.titleContainer {
  width: fit-content;
  margin: auto;
  margin-top: 5rem;
}
.title {
  margin-bottom: 2rem;
  text-align: center;
}

.button {
  outline: none;
  background-color: #4b6cc1;
  border: none;
  border-radius: 6px;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  cursor: pointer;
  color: white;
}
.transformImg {
  margin: auto;
  width: fit-content;
  margin-top: 3rem;
}
.placeholder {
  padding: 100px;
  background-color: none;
}
.imgContainer {
  display: flex;
  gap: 6rem;
  margin-top: 2rem;
  width: 100%;
}
.main {
  width: 100%;
}
.uploadContainer {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
  margin: auto;
  gap: 1rem;
}
